<div class="share-page">
    Share this </br> </br>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&source={{ site.url }}" rel="nofollow" target="_blank" title="Share on LinkedIn">
        <i class="fa fa-linkedin fa-2x" style="color:#0077B5"></i>
    </a>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
        <i class="fa fa-twitter fa-2x" style="color:#55acee"></i>
    </a>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
        <i class="fa fa-facebook fa-2x" style="color:#3b5998"></i>
    </a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">
        <i class="fa fa-google-plus fa-2x" style="color:#d34836"></i>
    </a>
</div>
