$tagColour: lightblue;

@mixin tag-button($colour)
{
    border-radius: 15px;
    background: $colour;
    height: 30px;
    vertical-align: middle;
    text-align: center;
}

@mixin selected-button()
{
    background-color: #009DDC; /*crimson;*/
    color: white;
}

.posts
{
    width: 78%;
    display: inline-block;
}

#tag-pane
{
    width: 20%;
    vertical-align: top;
    display: inline-block;
    margin-top: 30px;

    div.tag-selectors
    {
        p.selected
        {
            @include selected-button();
        }

        p.selected.tag::after
        {
            border-left-color: #009DDC; /*crimson;*/
        }
    }

}

div.tags
{
    margin-top: 10px;
    height: 30px;
}

$clearWritingColour: black;

/*p.clear-tags
{
    @include tag-button(lightgreen);
}*/
